
/* Estilos comuns para o rodapé */
footer {
    text-align: center; /* Centraliza o texto */
    padding: 15px; /* Adiciona espaçamento interno */
    background-size: auto; /* Define o tamanho do background */
    color: white; /* Define a cor do texto */
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3); /* Adiciona sombra ao rodapé */
    font-family: 'Font-Minecraft', sans-serif; /* Define a fonte do texto */
}

/* Adicionar a fonte Minecraft que foi baixada */
@font-face {
    font-family: 'Font-Minecraft'; /* Nome da fonte */
    src: url('https://loreandradee.github.io/ESOFT3-PBE-Avalia-o-1-Bimestre-Trabalho-Pr-tico/font/Font-Minecraft.otf') format('opentype'); /* Caminho para o arquivo da fonte e seu formato */
}
